{% extends 'base.html' %}
{% block content %}

            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Create Final Decision</h6>
                            <form method="post">

                                <label for="Truck" class="form-label">Final Decision</label>
                                <select class="form-select mb-3" id="decision_final" name="decision_final">
                                    <option value="accepted">Accepted</option> 
                                    <option value="approved">Approved</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                                <div class="mb-3">
                                    <label for="reason_first">Reason for first decision:</label>
                                    <textarea class="form-control" id="reason_final" name="reason_final" rows="3" required></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
{% endblock %}



 
