<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truck Samples</title>
</head>
<body>
    <h1>Truck Samples</h1>
    <ul>
        {% for truck_sample in truck_samples %}
            <li><a href="{{ url_for('get_truck_sample', id=truck_sample.id) }}">{{ truck_sample.entry_code }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_truck_sample') }}">Add Truck Sample</a>
</body>
</html>
